// you can change colors here
:root {
  --vp-font: "LXGW WenKai", "PingFang SC", "Microsoft YaHei", sans-serif;
  --vp-font-heading: "LXGW WenKai", "PingFang SC", "Microsoft YaHei", sans-serif;
  --vp-font-mono: "JetBrains Mono", "SFMono-Regular", Consolas, monospace;
  --home-page-width: 1440px;
  --wide-content-width: 1120px;
}
